/*styles.css*/

div{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

div.pagesheading{
    color: rgb(17, 0, 145);
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

div.pagessub{
    color: rgb(17, 0, 145);
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.list{
    color: blue;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.images{
width: 400px;
height: auto;
}

p{
    color: black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}